<% breadcrumb :product_edit %>
<%= render "layouts/breadcrumbs" %>

<div class="wrapper">
  <h4 class="post_title">グミを編集しよう！</h4>
  <%= render "form"%>
    
  <% if user_signed_in? && current_user.id == @gummy.user_id %>
    <div class="gummy_delete">
      <div class="gummy_delete__btn" id="modal">
          <i class="fas fa-trash-alt icon"></i>
          商品の削除
      </div>
    </div>
  <% end %>

  <div class="glay_layer"></div>
  <div class="delete_modal">
    <span class="material-icons warning">warning</span>
    <p class="delete_modal__message"><i class="fas fa-skull-crossbones fa-spin"></i>　このグミを削除しますか？　<i class="fas fa-skull-crossbones fa-spin"></i></p>
    <ul class="delete_modal__select">
      <li>
        <%= link_to gummy_path(@gummy), method: :delete, data: { confirm: "本当にいいんですね？" } do %>
          <span class="delete_modal__select__btn">削除する！</span>
        <% end %>
      </li>
      <li>
        <span class="delete_modal__select__btn" id="modal_back">キャンセル</span>
      </li>
    </ul>
  </div>

</div>