<div class="wrapper">
  <div class="form">
    <h4>食べたグミを編集しよう！</h4>
    <%= render "form"%>
    
    <% if user_signed_in? && current_user.id == @gummy.user_id %>
        <p class="form__menu">
          <%= link_to root_path do %>
            <i class="far fa-list-alt icon"></i>
          <% end %>
          <%= link_to gummy_path(@gummy), method: :delete, data: { confirm: "削除してもよろしいですか？" } do %>
            <i class="fas fa-trash-alt icon"></i>
          <% end %>
        </p>
      <% end %>
  </div>
</div>