<div class="wrapper">
  <main>
    <div class="items">
      <% @gummies.each do |gummy| %>
        <div class="items__item">
          <p><%= gummy.user.name %></p>
          <%= image_tag 'https://picsum.photos/300/300', class: "items__item__img" %>
            <ul class="items__item__list">
              <li><%= gummy.created_at.to_s(:datetime_jp) %></li>
              <li>
                <%= link_to edit_gummy_path(gummy) do %>
                  <i class="far fa-edit"></i>
                <% end %>
              </li>
              <li><i class="fas fa-info-circle"></i></li>
            </ul>
        </div>
      <% end %>
    </div>
  </main>
</div>