<div class="wrapper">
  <main>
    <div class="items">
      <div class="items__item">
        <p>名前</p>
        <%= image_tag 'https://picsum.photos/300/300', class: "items__item__img" %>
          <ul class="items__item__list">
            <li>投稿日:2020/10/10</li>
            <li>編集</li>
            <li>情報</li>
          </ul>
      </div>
    </div>
  </main>
</div>