<div class="wrapper">
  <main>
    <div class="items">
      <% @gummies.each do |gummy| %>
        <div class="items__item">
          <p><%= gummy.user.name %></p>
          <%= image_tag 'https://picsum.photos/300/300', class: "items__item__img" %>
            <ul class="items__item__list">
              <li><%= gummy.created_at.to_s(:datetime_jp) %></li>
              <li>編集</li>
              <li>情報</li>
            </ul>
        </div>
      <% end %>
    </div>
  </main>
</div>