<% breadcrumb :product_news %>
<%= render "layouts/breadcrumbs" %>

<div class="wrapper">
  <h2 class="news-title"><strong><i class="far fa-newspaper"></i> グミ関連ニュース <i class="far fa-newspaper"></i></strong></h2>
  <div class="news">

    <div class="news__main">
    <p class="news__main__title">- グミ関連サイト -</p>
    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 52.5%; padding-top: 120px;"><a href="https://gummysday.jp/" data-iframely-url="//cdn.iframe.ly/xgUmiAC"></a></div></div><script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
    <br>
    <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;"><a href="https://prtimes.jp/topics/keywords/%25E3%2582%25B0%25E3%2583%259F" data-iframely-url="//cdn.iframe.ly/ShQJ2ax"></a></div></div><script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
    <br>
    <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;"><a href="https://www.ryutsuu.biz/tag/%25e3%2582%25b0%25e3%2583%259f" data-iframely-url="//cdn.iframe.ly/dMVjrrs"></a></div></div><script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
    <br>
    <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;"><a href="https://www.gummifeti.com/" data-iframely-url="//cdn.iframe.ly/umsFXJt"></a></div></div><script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
    </div>

    <div class="news__side">
    <p class="news__side__title">- 日本グミ協会のツイート -</p>
    <a class="twitter-timeline" data-height="618" href="https://twitter.com/japan_gummy?ref_src=twsrc%5Etfw">Tweets by japan_gummy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </div>
</div>