<div class="wrapper">
  <h1 class="other_title">HIKAKINさん紹介の巨大ピザ！！</h1>
  <iframe class="other_youtube" src="https://www.youtube.com/embed/gk-RYc1FM-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>