.about-site {
  padding: 24px;
  color: $main-text-color;
  &__title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    padding: 0.25em 0.5em;
    color: $main-text-color;
    background: transparent;
    border-left: solid 5px #7db4e6;
  }
  &__text {
    color: $main-text-color;
    line-height: 1.7rem;
    padding-left: 1rem;
  }
  &__img {
    display: block;
    width: 50%;
    margin-bottom: 8px;
  }
  & ul li{
    color: $main-text-color;
    list-style: inside;
    padding-left: 2rem;
  }
}

.registration {
  text-align: center;
  padding: 32px;
  &__text {
    color: $main-text-color;
    margin-bottom: 16px;
  }
  &__btn {
    padding: 8px 16px;
    font-size: 1.1rem;
    border: 1px solid $main-text-color;
    border-radius: 5px;
    color: $main-text-color;
    background-color: $main-color;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}