.show {
  width: 80%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  border-radius: 5px;
  &__image {
    width: 40%;
    &__none {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    width: 60%;
    &__table {
      height: 400px;
      width: 90%;
      float: right;
      &--head {
        width: 25%;
        font-size: 0.8rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #eee;
      }
      &--data {
        width: 75%;
        text-align: left;
        font-size: 0.8rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #fff;
        &__link {
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
        &__like {
          color: red;
        }
      }
      &--review {
        width: 75%;
        height: 150px;
        text-align: left;
        font-size: 0.8rem;
        line-height: 1rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #fff;
      }
    }
  }
}

// コメント
// ------------------------------------
.container {
  padding: 16px;
  text-align: center;
  width: 80%;
  margin: 0 auto 32px;
  position: relative;
  background-color: #fff;
}

.comments {
  h4{
    margin-bottom: 16px;
  }
  &__field {
    background-color: #fff;
    border-radius: 5px;
    padding: 16px 0;
    text-align: left;
    margin-bottom: 16px;
    &__text {
      margin-bottom: 16px;
    }
    &__text a {
      color: $main-color;
    }
  }
}

.comment-form {
  width: 100%;
  margin: 0 auto;
  &__text {
    width: 100%;
    margin-bottom: 8px;
  }
  &__btn {
    margin: 16px 0;
    width: 30%;
    background-color:  $main-color;
    cursor: pointer;
    border: 1px solid $main-text-color;
    padding: 4px;
  }
  &__alert {
    font-size: 0.8rem;
  }
}

// 商品編集と削除
// ------------------------------------
.show__change {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  &__edit {
    margin: 0 auto;
    width: 40%;
    padding: 8px;
    background-color: $main-color;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}



// 削除モーダル
// ------------------------------------
.glay_layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  filter:alpha(opacity=60);
}
.delete_modal {
  display: none;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  &__message {
    margin-top: 32px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  &__select {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    &__btn {
      margin: 24px;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: $main-color;
      padding: 8px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.warning {
  color: red;
  margin-top: 1rem;
}