.show {
  width: 80%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  border-radius: 5px;
  &__image {
    width: 40%;
  }
  &__info {
    width: 60%;
    &__table {
      height: 400px;
      width: 90%;
      float: right;
      &--head {
        width: 25%;
        font-size: 0.8rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #eee;
      }
      &--data {
        width: 75%;
        text-align: left;
        font-size: 0.8rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #fff;
        &__link {
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
        &__like {
          color: red;
        }
      }
      &--review {
        width: 75%;
        height: 150px;
        text-align: left;
        font-size: 0.8rem;
        line-height: 1rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #fff;
      }
    }
  }
}

// コメント
// ------------------------------------
.container {
  padding: 16px;
  text-align: center;
  width: 80%;
  margin: 0 auto 32px;
  position: relative;
  background-color: #fff;
}

.comments {
  h4{
    margin-bottom: 16px;
  }
  &__field {
    background-color: #fff;
    border-radius: 5px;
    padding: 16px 0;
    text-align: left;
    margin-bottom: 16px;
    &__text {
      margin-bottom: 16px;
    }
    &__text a {
      color: $main-color;
    }
  }
}

.comment-form {
  width: 100%;
  margin: 0 auto;
  &__text {
    width: 100%;
    margin-bottom: 8px;
  }
  &__btn {
    margin: 16px 0;
    width: 30%;
    background-color:  $main-color;
    cursor: pointer;
    border: 1px solid $main-text-color;
    padding: 4px;
  }
  &__alert {
    font-size: 0.8rem;
  }
}

.show_move {
  width: 100%;
  margin: 0 auto 16px;
  &__next {
    float: left;
    text-align: left;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
  &__prev {
    float: right;
    text-align: right;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

// 商品編集
// ------------------------------------
.show__edit {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  &__btn {
    margin: 0 auto;
    width: 40%;
    padding: 8px;
    background-color: $main-color;
    border: 1px solid $main-text-color;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 959px) {
  .show {
    display: block;
    width: 100%;
    &__image {
      width: auto;
      img {
        display: block;
        margin: 0 auto 16px;
      }
    }
    &__info {
      width: 100%;
      &__table {
        margin: 0 auto;
        float: none;
      }
    }
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .show__image {
    width: 100%;
    img {
      display: block;
      margin: 0 auto 16px;
    }
  }
  .show__edit__btn {
    width: 100%;
  }
}