.show {
  width: 80%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  background-color: rgba(142,209,224, .5);
  border-radius: 5px;
  &__image {
    width: 40%;
  }
  &__info {
    width: 60%;
    &__list li{
      margin-bottom: 16px;
    }
    &__list__name,
    &__list--maker {
      color: blue;
    }
    &__list__name:hover,
    &__list--maker:hover {
      text-decoration: underline;
    }
    &__list--review {
      display: block;
      margin-top: 8px;
      margin-left: 8px;
    }
    &__menu {
      position: absolute;
      bottom: 8px;
      right: 8px;
      font-size: 1.3rem;
    }
  }
}

// SNSリンク
// ------------------------------------
.sns_icons {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
}
.fa-twitter-square,
.fa-facebook-square {
  margin-right: 1rem;
}

// コメント
// ------------------------------------
.container {
  padding: 16px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.comments h4{
  margin-bottom: 16px;
}
.comments__field {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  padding: 16px;
  text-align: left;
  margin-bottom: 16px;
  &__text {
    margin-bottom: 8px;
  }
  &__text a {
    color: $main-color;
  }
}

.comment-form {
  width: 80%;
  margin: 0 auto;
  &__text {
    width: 80%;
    margin-bottom: 8px;
  }
  &__btn {
    margin: 16px 0;
    width: 30%;
    background-color:  $main-color;
    cursor: pointer;
  }
  &__alert {
    font-size: 0.8rem;
  }
}

// 削除モーダル
// ------------------------------------
.glay_layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  filter:alpha(opacity=60);
}
.delete_modal {
  display: none;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  &__message {
    margin-top: 32px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  &__select {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    &__btn {
      margin: 24px;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: $main-color;
      padding: 8px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.warning {
  color: red;
  margin-top: 1rem;
}