.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
.items__item {
  width: calc(100% / 5);
  margin-bottom: 16px;
}
.items__item__title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}
.items__item__img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
}
.items__item__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.items__item__list li {
  margin-right: 0.5rem;
}