.search {
  margin: 8px 0;
  &-input {
    width: 20%;
    height: 32px;
    padding: 4px;
  }
  &-btn {
    width: 5%;
    height: 32px;
    background-color: $main-color;
    cursor: pointer;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  &__count {
    font-size: 1.2rem;
  }
  &__item {
    width: calc(100% / 5);
    margin-bottom: 16px;
    &__title {
      text-align: center;
      margin-bottom: 8px;
      font-size: 1.2rem;
      font-weight: bold;
    }
    &__img {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 80%;
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      & li {
        margin-right: 0.5rem;
      }
    }
  }
}