.show {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  background-color: rgba(219, 235, 127, 0.479);
  border-radius: 5px;
}
.show__image {
  width: 40%;
}
.show__info {
  width: 60%;
}
.show__info__list li{
  margin-bottom: 16px;
}
.show__info__list--review {
  display: block;
  margin-top: 8px;
  margin-left: 8px;
}
.show__info__menu {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 1.3rem;
}

// コメント
// ------------------------------------
.container {
  padding: 16px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.comments h4{
  margin-bottom: 16px;
}
.comments__field {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  padding: 16px;
  text-align: left;
  margin-bottom: 16px;
}
.comments__field__text {
  margin-bottom: 8px;
}
.comments__field__text a {
  color: orange;
}

.comment-form {
  width: 80%;
  margin: 0 auto;
}
.comment-form__text {
  width: 80%;
  margin-bottom: 8px;
}
.comment-form__btn {
  margin: 0 auto;
  width: 30%;
  background-color:  orange;
  cursor: pointer;
}