.show {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.show__image {
  width: 40%;
}
.show__info {
  width: 60%;
  position: relative;
}
.show__info__list li{
  margin-bottom: 16px;
}
.show__info__list--review {
  display: block;
  margin-top: 8px;
  margin-left: 8px;
}
.show__info__menu {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.3rem;
}