.show {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  background-color: rgba(219, 235, 127, 0.479);
  border-radius: 5px;
  &__image {
    width: 40%;
  }
  &__info {
    width: 60%;
    &__list li{
      margin-bottom: 16px;
    }
    &__list__name,
    &__list--maker {
      text-decoration: underline;
      color: blue;
    }
    &__list--review {
      display: block;
      margin-top: 8px;
      margin-left: 8px;
    }
    &__menu {
      position: absolute;
      bottom: 8px;
      right: 8px;
      font-size: 1.3rem;
    }
  }
}

// コメント
// ------------------------------------
.container {
  padding: 16px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.comments h4{
  margin-bottom: 16px;
}
.comments__field {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  padding: 16px;
  text-align: left;
  margin-bottom: 16px;
  &__text {
    margin-bottom: 8px;
  }
  &__text a {
    color: $main-color;
  }
}

.comment-form {
  width: 80%;
  margin: 0 auto;
  &__text {
    width: 80%;
    margin-bottom: 8px;
  }
  &__btn {
    margin: 16px 0;
    width: 30%;
    background-color:  $main-color;
    cursor: pointer;
  }
}