.user {
  padding: 24px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  & h1 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  & h2 {
    margin-bottom: 16px;
  }
  &__input {
    margin-bottom: 16px;
    height: 28px;
    width: 60%;
    &-area {
    margin-bottom: 16px;
    width: 60%;
    }
  }
  &__btn {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 30%;
    cursor: pointer;
  }
  &__reset-btn {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 80%;
    cursor: pointer;
  }
}
.field,
.actions {
  margin-bottom: 16px;
}

.field_arrange {
  display: block;
  margin-bottom: 8px;
  color: blue;
  text-decoration: underline;
}

.back_mypage {
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 479px) {
  .user {
    width: 100%;
  }
}