.notification {
  .notice {
    background-color: $main-color;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: $main-color;
    color: white;
    text-align: center;
  }
}