.breadcrumbs {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-top: 1px dotted #000;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .16);
  &__list {
    font-size: 0.9rem;
    color: #000;
    width: 80%;
    margin: 0 auto;
    > a {
      color: $main-color;
    }
  }
}