// 共通設定
// ------------------------------------
* {
  box-sizing: border-box;
}

body {
  font-family: 'ヒラギノ丸ゴ ProN','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  background-image: image-url("gumiback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:40%; 
  }

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

// エラーメッセージ
// ------------------------------------
.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px;
  font-weight:850;
  margin-bottom: 16px;
}

// 大枠
// ------------------------------------
.layout {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  padding-bottom: 60px;
  padding: 0;
}

// 各ページごとの中枠
// ------------------------------------
.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 24px;
  z-index: 0;
}

@media screen and (max-width: 479px) {
  .wrapper {
    width: 100%;
  }
}
// fontawesomeアイコン
// ------------------------------------
.icon:hover {
  cursor: pointer;
}

// ページネーション
// ------------------------------------
.pagination {
  text-align: center;
  margin-bottom: 32px;
}
.first a, .next a, .prev a,
.last a, .page a {
  color: blue;
}
.first a:hover,
.next a:hover,
.prev a:hover,
.last a:hover,
.page a:hover {
  color: blue;
  text-decoration: underline;
}


// マテリアルアイコン
// ------------------------------------
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }