<footer>
  <div class="menu">
    <ul class="menu__list">
      <li>
      <%= link_to "HOME", root_path, class: "menu__list__info" %>|　
      </li>
      <li>
      <%= link_to "ABOUT", about_gummies_path, class: "menu__list__info" %>|　
      </li>
      <li>
      <%= link_to "NEWS", news_gummies_path, class: "menu__list__info" %>|　
      </li>
      <li>
      <%= link_to "RANK", rank_gummies_path, class: "menu__list__info" %>
      </li>
    </ul>
  </div>
    <small>&copy; 2020 tukky-14</small>
</footer>